<html>
<head>
</head>
<body>
<div class="form-group">
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-4">
    <h2>Users workout plans</h2>
        <%data.forEach(function(plan){  %>
            </br>
            <b>ID: </b><%= plan._id%>
            </br>
            <b>Name: </b><%= plan.name%>
            </br>
            <b>Exercise: </b><%= plan._exercise%>
            </br>
            <b>Reps: </b><%= plan.reps%>
            </br>
            <b>Set: </b><%= plan.sets%>
            <hr />
        <%})%>
</div>
  </div>
</br>
<form method="post" action="/users/plan">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Create new plan</span>
            </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="name" placeholder="Name">
        </div>
    </div>
<hr />
<button type="submit" class="btn btn-primary">Create</button>
</form>
<form method="post" action="/exercises">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <h3 class="input-group-text" id="inputGroup-sizing-default">Create new exercise</h3>
            </div>
   

                      <%data.forEach(function(plan){  %>
                        <b>Name: </b><%= plan._id%>
                        <br>       
                        <b>Name: </b><%= plan.name%> 
                        <hr />
                        <%})%></a>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="plan._id" placeholder="Id">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="plan.name" placeholder="Name">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="exercises" placeholder="Exercise">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="reps" placeholder="Reps">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="set" placeholder="Set">

        </div>
    </div>
<hr />
<button type="submit" class="btn btn-primary">Create</button>
</form>
</body>
</html>