<html>
        <head>
                <title></title>
                <script
                    src="https://code.jquery.com/jquery-3.3.1.js"
                    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                    crossorigin="anonymous">
                </script>
                <script> 
                $(function(){
                  $("#header").load("layout.ejs"); 
                });
                </script> 
                </head>
                <body>
                <div id="header"></div>
                <div id="nav">
                  <div class="col-sm nav-align">
                      <h1 id="title">Fitness-App</h1>
                  </div>
                  <div class="col-sm nav-align">
                      <a href="/index">
                          <span class="button">Home</span>
                      </a>
                      <a href="/users/plan">
                          <span class="button">Create plan/exercise</span>
                      </a>
                      <a href="/plan">
                          <span class="button">See all plans</span>
                      </a>
                      <a action="/logout" href="/logout">
                        <span class="button">Logout</span>
                      </a>
                  </div>
              </div>
                </body>
            </head>
<body>
<div class="form-group">
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-4">
    <h2>Workout plans</h2>
        <%data.forEach(function(plan){  %>
            </br>
            <b>ID: </b><%= plan._id%>
            </br>
            <b>Name: </b><%= plan.name%>
            </br>
            
            <!-- Loop all exercise in plan -->

            <%data.forEach(function(plan.exercises){  %>

                <%data.forEach(function(plan.exercises){  %>

                </br>
                <b>Exercise: </b><%= exercises.name%>
                </br>
    
                </br>
                <b>sets: </b><%= exercises.sets%>
                </br>
    
                </br>
                <b>Reps: </b><%= exercises.reps_time%>
                </br>
    
                <%})%>

            <%})%>
        

            <hr />
        <%})%>
    </div>
</div>
</br>
<form method="post" action="/users/plan">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Create new plan</span>
            </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="name" placeholder="Name">
        </div>
    </div>
<hr />
<button type="submit" class="btn btn-primary">Create</button>
</form>

<!-- Post plan to user -->
<form method="post" action="/plan">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Register plan to user</span>
            </div>

                <!-- input id for plan -->
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" planId="id" placeholder="id">
        </div>
    </div>
<hr />
<button type="submit" class="btn btn-primary">Assign</button>
</form>


<form method="post" action="/plans/exercise">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <h3 class="input-group-text" id="inputGroup-sizing-default">Create new exercise to plan</h3>
            </div>
   
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="id" placeholder="PlanId">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="name" placeholder="Name">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="description" placeholder="Description">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="sets" placeholder="Sets">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="reps" placeholder="Reps">

        </div>
    </div>
<hr />
<button type="submit" class="btn btn-primary">Create</button>
</form>
</body>
</html>